* {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    background-color:hsl(185, 75%, 39%);
}

.bgTop {
    position: fixed;
    width: 60%;
    top: -50vh;
    left: -10rem;
}

.bgBottom {
    position: fixed;
    width: 60%;
    bottom: -50vh;
    right: -10rem;
}

.profile-card {
    width: 400px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
}

.card-header {
    height: 150px;
    background-image: url(./images/bg-pattern-card.svg);
}

.pic img {
    display: inline-block;
    border: 5px solid white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.card-body {
    height: 150px;
    background-color: white;

}

.person-container {
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.name {
    font-weight: 700;
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    margin-right: 10px;
}

.age {
    font-weight: 400;
    font-size: 18px;
    color:hsl(227, 10%, 46%);
}

.place {
    color:hsl(227, 10%, 46%);
    margin-top: 10px;
}

.card-footer {
    height: 100px;
    background-color: white;
    border-top: 1px solid #6a6f8138;
    padding: 30px 10px;
}

.numbers {
    display: flex;
    align-items: center;
    
}

.item {
    flex: auto;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    font-size: 12px;
}

span {
    display: block;
    font-weight: 700;
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    padding: 3px;
}

footer {
    width: 100vw;
    position: fixed;
    bottom: 10px;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(227, 10%, 46%); 
}

@media (min-width: 375px) {

    body {
        max-width: 375px;
    }

    .bgTop {
        position: fixed;
        width: 200%;
        top: -50vh;
        left: -33rem;
    }
    
    .bgBottom {
        position: fixed;
        width: 200%;
        bottom: -50vh;
        right: -33rem;
    }

    .profile-card {
        width: 330px;
    }
}